.DS_Store
.vscode/
.idea/

venv/

*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

logs/
webservice/logs/

_cache
app/oauth.sqlite
pyoslc_oauth/OAuthStore.rdf

docs/build

.tox/
