python-dotenv~=0.14.0

Flask==1.0.2
Flask-CORS
Flask-RESTx
Flask-WTF
Flask-Bootstrap
Flask-SQLAlchemy
Flask-Login
cachelib~=0.1.1

RDFLib==5.0.0
RDFLib-jsonld

Authlib~=0.14.3

Werkzeug==0.16.1
requests
pytest~=4.6.11

#Sphinx==1.8.5
