<?xml version="1.0" encoding="UTF-8"?>
<rdf:Description rdf:about="{{ about }}"
    xmlns:iotp="http://jazz.net/ns/dm/iotp#"
    xmlns:oslc="http://open-services.net/ns/core#"
    xmlns:oslc_am="http://open-services.net/ns/am#"
    xmlns:oslc_rm="http://open-services.net/xmlns/rm/1.0/"
    xmlns:oslc_cm="http://open-services.net/xmlns/cm/1.0/"
	xmlns:oslc_config="http://open-services.net/ns/config#"
    xmlns:trs="http://open-services.net/ns/core/trs#"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:jfs="http://jazz.net/xmlns/prod/jazz/jfs/1.0/"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">

	<dc:title>PyOSLC Root Services</dc:title>

	<!-- Service Providers - ServiceProviderCatalog URLs for each domain -->
	<oslc_am:amServiceProviders rdf:resource="{{catalogUri}}" />
	<oslc_rm:rmServiceProviders rdf:resource="{{catalogUri}}" />
	<oslc_cm:cmServiceProviders rdf:resource="{{catalogUri}}" />
	<oslc_config:cmServiceProviders	rdf:resource="{{catalogUri}}"/>

	<!-- OAuth URLs for establishing server-to-server connections -->
	<jfs:oauthRealmName>PyOSLC API</jfs:oauthRealmName>
	<jfs:oauthDomain>{{ authDomain }}</jfs:oauthDomain>
	<jfs:oauthRequestConsumerKeyUrl rdf:resource="{{ requestKey }}" />
	<jfs:oauthApprovalModuleUrl rdf:resource="{{ approveKey }}" />
	<jfs:oauthRequestTokenUrl rdf:resource="{{ requestToken }}"/>
	<jfs:oauthUserAuthorizationUrl rdf:resource="{{ authorize }}" />
	<jfs:oauthAccessTokenUrl rdf:resource="{{ accessToken }}"/>

	<!-- IoT Platform Tracked Resource Set Provider -->
	<iotp:TrackedResourceSetProvider>
		<trs:TrackedResourceSet>
			<trs:trackedResourceSet rdf:resource="http://192.168.1.66:8080/iotp/services/trs" />
	        <dc:title>iotp-adaptor TRS resources</dc:title>
	        <dc:description>TRS 2.0 provider for IoT Platform resources</dc:description>
	        <dc:type     rdf:resource="http://open-services.net/ns/cm#" />
	        <oslc:domain rdf:resource="http://open-services.net/ns/rm#" />
	        <oslc:domain rdf:resource="http://open-services.net/ns/am#" />
        </trs:TrackedResourceSet>
	</iotp:TrackedResourceSetProvider>
</rdf:Description>